body {
    background: #333;
    padding-top: 150px;
  }
  
  .present {
    width: 410px;
    margin: 0 auto;
  }
  .box, .lid {
    background:
      -webkit-radial-gradient(white 15%, transparent 15.1%),
      -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(240, 58, 58);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    position: relative;
    margin: 0 auto;
  }
  .box {
    width: 400px;
    height: 250px;
    
  }
  .lid {
    width: 400px;
    height: 70px;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 0 2px;
    background-color: rgb(167, 30, 30);
    /* transitions */
    top: 0;
    left: 0;
    transition: 
      top ease-out 0.5s,
      left ease-out 0.5s,
      transform ease-out 0.5s;
  }
  .box span, .lid span {
    position: absolute;
    display: block;
    background: rgba(235, 199, 0, 0.8);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  }
  .box span:first-child {
    width: 100%;
    height: 60px;
    top: 80px;
  }
  .box span:last-child, .lid span {
    width: 60px;
    height: 100%;
    left: 170px;
  }
  .lid span {
    left: 172px;
  }
  .promo {
    font-size: 30px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    height: 0;
    top: 10px;
    transition: all ease-out 0.7s;
  }
  .promo p {
    font-size: 24px;
    margin: 0;
  }
  .promo h2 {
    font-size: 40px;
    margin: 0;
  }
  
  /* hover effects */
  .present:hover .lid {
    top: 250px;
    transform: rotateZ(20deg);
    left: 10px;
  }
  .present:hover .promo {
    top: -80px;
  }
  .qrCodeBox {
    height: 100%;
    z-index: -1;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 90px;
    transition: all ease-out 0.7s;
    
    
  }
  .present:hover .qrCodeBox{
    top: -80px;
    
  }
  .submit {
    font-size: 10px;
    color: white;
}
.box-bowtie {
    z-index: 1;
    height: 100%;
  }
  .box-bowtie::before, .box-bowtie::after {
    content: "";
    width: 83.3333333333px;
    height: 83.3333333333px;
    border: 16.6666666667px solid white;
    border-radius: 50% 50% 0 50%;
    position: absolute;
    bottom: 99%;
    z-index: -1;
  }
  .box-bowtie::before {
    left: 50%;
    -webkit-transform: translateX(-100%) skew(10deg, 10deg);
            transform: translateX(-100%) skew(10deg, 10deg);
  }
  .box-bowtie::after {
    left: 50%;
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
            transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }

  
  